@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if(ViewBag.MiddlewareInfo != null)
    {
        <div style="margin-top:20px; padding:10px; border:1px solid green;">
            <strong>Middleware Messajı:</strong>@ViewBag.MiddlewareInfo
        </div>
    }
</div>
