@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutTurkish"; //farklı bir layout kullanımı yapmak istediğimizde burada belirtebiliriz.
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <!--Partial view cağrısı: ortak kategori listei bu noktada ekledik-->
    @Html.Partial("_CategoryList")
</div>
