@using _06_custom_helpers.Helpers
<div class="text-center">
    @StringHelper.CapitalizeWord("hello world from custom helpers");
    <br />
    @StringHelper.WordsLength("Furkan Uçan");
    <br />
    @ViewBag.Message
</div>
