<div class="col-md-3">
    <h4>Kategoriler</h4>
    <ul class="list-group">
        <li class="list-group-item"><a href="#">Elektronik</a></li>
        <li class="list-group-item"><a href="#">Giyim</a></li>
        <li class="list-group-item"><a href="#">Ev & Yaşam</a></li>
        <li class="list-group-item"><a href="#">Kitap</a></li>
        <li class="list-group-item"><a href="#">Oyun</a></li>
    </ul>
</div>